<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pacific League Team Classifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet.css') }}">
</head>
<body>
    <header>   
        <a class="header-logo" href="#">Pacific League Team Classifier</a>
    </header>

    <div class="main">
        <div class="mask">    
            <h2> パ・リーグの選手の画像から、AIが所属チームを自動で判定します</h2>
            <p class="notify">※2020年度版ホーム用ユニフォームのみ対応</p>
            <p class="msg">画像を送信してください</p>
            <form method="POST" enctype="multipart/form-data">
                <input class="file_choose" type="file" name="file">
                <input class="btn" value="submit!" type="submit">
            </form>
            {% if img_url %}
            <div class="up_img">
                <img src="{{ img_url }}" height="200">
            </div>
            {% endif %}
            <div class="answer">{{answer}}</div>
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>
